{% extends "base.html" %}

{% block nav_about_class %}active{% end %}

{% block tag_page_heading %}
<img src="{{ MEDIA_URL }}image/heading/know_more_about_us.png" title="Know more about us." />
{% end %}

{% block tag_trunk_content %}
<div id="trunk-header">
  
</div>
<div id="top-transparent-area">
</div>
<div class="article_wrapper">
  <div class="article_inner">
    <div class="article">
      <div class="content">
        <h1 class="heading">Answering all your "who's", "when's", "why's" & "how's".</h1>
        <h2>What is Lorem Ipsum?</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker.</p>
        <h2>What is Lorem Ipsum?</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>            
      </div>
      <div class="sidebox">
        <h2>Some side heading</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        <p><a href="/about" class="awesome-button large blue">About us &raquo;</a></p>
      </div>
    </div>
  </div>
</div>
<div id="bottom-transparent-area">
</div>
{% end %}

{% block tag_scripts %}
<script type="text/javascript">$SELECTOR_SCRIPT</script>
{% end %}
