{% extends "base_site.html" %}

{% block tag_head %}
    <meta name="keywords" content="khandelwal builders, khandelwal groupe, construction, architecture, builder, buildings, homes" />
    <meta name="description" content="Khandelwal Groupe" />
    {% block tag_stylesheets %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen-all{{ CSS_MINIFIED }}.css" type="text/css" media="screen,projection" charset="utf-8" />
    <!--[if lt IE 7]>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie6{{CSS_MINIFIED}}.css" type="text/css" media="screen,projection" charset="utf-8" />
    <![endif]-->
	{% end %}
	{% block tag_additional_stylesheets %}{% end %}
{% end %}

{% block tag_body %}
	{% block tag_wrapper %}
	<div id="wrapper">
		{% block tag_wrapper_content %}
		{% block tag_header %}
		<div id="header">
		  <a href="/" id="logo"></a>
		  <ul id ="navigation">
		    <li><a href="/" class="menu_button active">Home</a></li>
		    <li><a href="/projects" class="menu_button">Projects</a></li>
		    <li><a href="/about" class="menu_button">About us</a></li>
		    <li><a href="/contact" class="menu_button">Contact</a></li>
		    <li><a href="/inquiry" class="menu_button">Inquiry</a></li>		    
		  </ul>
    </div>
		{% end %}
		{% block tag_trunk %}
		<div id="trunk">
			<div id="trunk-content">
			{% block tag_trunk_content %}
			{% end %}
			</div>
		</div>
		{% end %}
		{% block tag_footer %}
		<div id="footer">
			<div id="footer-content">
			{% block tag_footer_content %}
			  <p>Copyright &copy; 2009 <a href="/">Khandelwal Group&eacute;.</a>. All rights reserved. Developed by <a href="http://www.aticest.com">Aticest</a> and designed by <a href="http://www.happychickoo.com">happychickoo</a>.</p>
			{% end %}
      </div>
		</div>
		{% end %}
		{% end %}
	</div>
	{% end %}
{% end %}
{% block tag_scripts_base %}
<script type="text/javascript">
window.__hc_scripts = ["{{ JQUERY_URL }}"];
</script>
#*<!--[if lt IE 7]>
<script type="text/javascript">window.IE6UPDATE_OPTIONS = {'icons_path': "{{ MEDIA_URL }}image/ie6update/"};
window.__hc_scripts.push("{{ MEDIA_URL }}script/ie6update/ie6update{{ JS_MINIFIED }}.js");</script>
<![endif]-->*#
{% end %}
