{% extends "base_site.html" %}

{% block tag_head %}
    <meta name="keywords" content="khandelwal builders, khandelwal groupe, construction, architecture, builder, buildings, homes" />
    <meta name="description" content="Khandelwal Groupe" />
    {% block tag_stylesheets %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen-all{{ CSS_MINIFIED }}.css" type="text/css" media="screen,projection" charset="utf-8" />
    <!--[if lt IE 7]>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie6{{CSS_MINIFIED}}.css" type="text/css" media="screen,projection" charset="utf-8" />
    <![endif]-->
	{% end %}
	{% block tag_additional_stylesheets %}{% end %}
{% end %}

{% block tag_body %}
	{% block tag_wrapper %}
	<div id="wrapper">
		{% block tag_wrapper_content %}
		{% block tag_header %}
		<div id="header">
		  <img src="{{ MEDIA_URL }}image/bg/butterfly.gif" id="butterfly"/>  
		  <a href="/" id="logo"></a>
		  {% block tag_page_heading %}
		  {% end %}		
    </div>
		{% end %}
		{% block tag_trunk %}
		<div id="trunk">
		  <div id="navigation">
		    <ul id="navigation">
		      <li><a href="/" class="{% block nav_home_class %}{% end %}" id="home"></a></li>
		      <li><a href="/projects" class="{% block nav_projects_class %}{% end %}" id="projects"></a></li>
		      <li><a href="/about" class="{% block nav_about_class %}{% end %}" id="about"></a></li>
		      <li><a href="/contact" class="{% block nav_contact_class %}{% end %}" id="contact"></a></li>
		      <li><a href="/inquiry" class="{% block nav_inquiry_class %}{% end %}" id="inquiry"></a></li>		    
		    </ul>
		  </div>
			<div id="trunk-content">
			{% block tag_trunk_content %}
			{% end %}
			</div>
		</div>
		{% end %}
		{% block tag_footer %}
		<div id="footer">
			<div id="footer-content">
			{% block tag_footer_content %}
			  <div id="buildings">
			  </div>
			  <p>Copyright &copy; 2010 <a href="/">Khandelwal Group&eacute;</a>. All rights reserved. Designed and developed by <a href="http://www.happychickoo.com">Happychickoo</a> and <a href="http://www.aticest.com">Aticest</a>.</p>
			{% end %}
      </div>
		</div>
		{% end %}
		{% end %}
	</div>
	{% end %}
{% end %}
{% block tag_scripts_base %}
<script type="text/javascript">
window.__hc_scripts = ["{{ JQUERY_URL }}" #*, 
{% if LOCAL %}
"{{ TEXT_MEDIA_URL }}script/lib/chickoojs/src/jquery/tools/1.1.2/jquery.tools.min.js"
{% else %}
"http://cdn.jquerytools.org/1.1.2/full/jquery.tools.min.js"
{% end %}*#
];
</script>
#*<!--[if lt IE 7]>
<script type="text/javascript">window.IE6UPDATE_OPTIONS = {'icons_path': "{{ MEDIA_URL }}image/ie6update/"};
window.__hc_scripts.push("{{ MEDIA_URL }}script/ie6update/ie6update{{ JS_MINIFIED }}.js");</script>
<![endif]-->*#
{% end %}
