{% extends "base.html" %}


{% block nav_contact_class %}active{% end %}

{% block tag_page_heading %}
<img src="{{ MEDIA_URL }}image/heading/get_in_touch_with_us.png" title="Get in touch with us." class="heading" />
{% end %}

{% block tag_trunk_content %}
<div id="top-transparent-area">
</div>
<div class="article_wrapper">
  <div class="article_inner">
    <div class="article reversed">
      <div class="sidebox">
        <h2>Reach us.</h2>
        <dl>
          <dt>Corporate office</dt>
          <dd>
            <address>
              <span>Narayan Plaza, 135,</span>
              <span>Ram Mandir Rd., </span>
              <span>Near Singh Industrial Estate,</span>
              <span>Oshiwara, Goregaon (W),</span>
              <span>Mumbai 400104.</span>
            </address>
            <p>Telephone: 26760223 / 263 / 184 / 185, Fax: 26760072</p>
          </dd>
          <dt>City office</dt>
          <dd>
            <address>
              <span>38, Bombay Mutual Chambers,</span>
              <span>19/21, Hamam Street,</span>
              <span>Near Bombay Stock Exchange,</span>
              <span>Fort, Mumbai 400021.</span>
            </address>
            <p>Telephone: 22632420 / 32947828</p>
          </dd>
        </dl>
      </div>
      <div class="content">
        <img src="{{ MEDIA_URL }}image/heading/contact_sub_heading.png" title="We are just a phone call away!" />
        <h2>Send us feedback</h2>
        <form id="form-feedback" action="" method="post" class="decorated-fields vertical">
          <label for="full_name">
            <span class="prefix">full name</span>
            <input type="text" name="full_name" value="" />
            <span class="suffix"></span>
          </label>
          <label for="email">
            <span class="prefix">email</span>
            <input type="text" name="email" value="" />
            <span class="suffix"></span>
          </label>
          <label for="phone_number">
            <span class="prefix">phone number</span>
            <input type="text" name="phone_number" value="" />
            <span class="suffix"></span>
          </label>
          <label for="subject">
            <span class="prefix">subject</span>
            <input type="text" name="subject" value="" />
            <span class="suffix"></span>
          </label>
          <label for="comment">
            <span class="prefix">comment</span>
            <textarea name="comment" rows="4" cols="40"></textarea>
            <span class="suffix"></span>
          </label>
          <input class="awesome-button blue" type="submit" name="submit" value="&#10004; Send Information" />
        </form> 
      </div>
    </div>
  </div>
</div>
<div id="bottom-transparent-area">
</div>



{% end %}

{% block tag_scripts %}
<script type="text/javascript">$SELECTOR_SCRIPT</script>
{% end %}
