{% extends "base.html" %}

{% block nav_home_class %}active{% end %}


{% block tag_trunk_content %}
<div id= "splash">
  <div id="slogan">
    <img src="{{ MEDIA_URL }}image/heading/we_build_value.png" width="248px" height="100px" title="We build value" />
    <h2>Specialising in building spaces that you will fall in love with.</h2>
    <a href="/projects"><img src="{{ MEDIA_URL }}image/button/see_more.png" width="172px" height="36px" title="See more" /></a>
  </div>
  <div id="photos">
    <ul>
      <li>
        <a href="{{ MEDIA_URL }}image/photos/first_tax_free.jpg"><img src="{{ MEDIA_URL }}image/photos/thumb/first_tax_free.jpg" width="150px" height="112px" /></a>
      </li>
      <li>
        <a href="{{ MEDIA_URL }}image/photos/gokuldham.jpg"><img src="{{ MEDIA_URL }}image/photos/thumb/gokuldham.jpg" width="150px" height="112px" /></a>
      </li>      
      <li>
        <a href="{{ MEDIA_URL }}image/photos/pushpakunj.jpg"><img src="{{ MEDIA_URL }}image/photos/thumb/pushpakunj.jpg" width="150px" height="112px" /></a>
      </li>
      <li>
        <a href="{{ MEDIA_URL }}image/photos/sea_woods.jpg"><img src="{{ MEDIA_URL }}image/photos/thumb/sea_woods.jpg" width="150px" height="112px" /></a>
      </li>
      <li>
        <a href="{{ MEDIA_URL }}image/photos/shashi.jpg"><img src="{{ MEDIA_URL }}image/photos/thumb/shashi.jpg" width="150px" height="112px" /></a>
      </li>
      <li>
        <a href="{{ MEDIA_URL }}image/photos/holar.jpg"><img src="{{ MEDIA_URL }}image/photos/thumb/holar.jpg" width="150px" height="112px" /></a>
      </li>
    </ul>
  </div>
</div>
{% end %}

{% block tag_scripts %}
<script type="text/javascript">$SELECTOR_SCRIPT</script>
{% end %}
