{% extends "base.html" %}

{% block body_attributes %} class="home"{% end %}

{% block nav_home_class %}active{% end %}


{% block tag_trunk_content %}
<div id= "splash">
  <div id="slogan">
    <img src="{{ MEDIA_URL }}image/heading/we_shape_your_dreams.png" width="214px" height="68px" title="We shape your dreams" />
    <h2>Specialising in building spaces that you will fall in love with.</h2>
    <a href="/projects"><img src="{{ MEDIA_URL }}image/button/see_more.png" width="145px" height="31px" title="See more" /></a>
  </div>
  <div id="photos">
    <ul>
      <li>
        <a href="/project/savgan-heights"><img src="{{ MEDIA_URL }}image/photos/thumb/first_tax_free.jpg" width="113px" height="84px" /></a>
      </li>
      <li>
        <a href="/project/savgan-heights"><img src="{{ MEDIA_URL }}image/photos/thumb/gokuldham.jpg" width="113px" height="84px" /></a>
      </li>      
      <li>
        <a href="/project/savgan-heights"><img src="{{ MEDIA_URL }}image/photos/thumb/pushpakunj.jpg" width="113px" height="84px" /></a>
      </li>
      <li>
        <a href="/project/savgan-heights"><img src="{{ MEDIA_URL }}image/photos/thumb/prakash_tower.jpg" width="113px" height="84px" /></a>
      </li>
      <li>
        <a href="/project/savgan-heights"><img src="{{ MEDIA_URL }}image/photos/thumb/sea_woods.jpg" width="113px" height="84px" /></a>
      </li>
      <li>
        <a href="/project/savgan-heights"><img src="{{ MEDIA_URL }}image/photos/thumb/shashi.jpg" width="113px" height="84px" /></a>
      </li>
      <li>
        <a href="/project/savgan-heights"><img src="{{ MEDIA_URL }}image/photos/thumb/holar.jpg" width="113px" height="84px" /></a>
      </li>
    </ul>
  </div>
</div>
<div id="top-transparent-area">
</div>
<div class="article">
  <div class="content">
    <h1>What is Lorem Ipsum?</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker.</p>    
  </div>
  <div class="sidebox">
    <h2>Some side heading</h2>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
    <p><a href="/about" class="awesome-button  large blue">About us &raquo;</a></p>
  </div>
</div>
<div id="bottom-transparent-area">
</div>
{% end %}

{% block tag_scripts %}
<script type="text/javascript">$SELECTOR_SCRIPT</script>
{% end %}
