{% extends "base.html" %}

{% block nav_inquiry_class %}active{% end %}

{% block tag_trunk_content %}
<div id="trunk-header">
  <img src="{{ MEDIA_URL }}image/heading/need_something.png" title="Need something?" width="306px" height="37px" />
  <h2>We are happy to provide any information you need.</h2>
</div>
<div id="top-transparent-area">
</div>
<div class="article">
  <div class="sidebox">
    <h2>Don't hesitate</h2>
    <p>You could use this form to send inquiries for just about anything and you can expect a reply from us with in 3 working days or before.</p>
    <p>We value your interest and assure you best service.</p>
  </div>
  <div class="content reversed">
    <h1>Ask us.</h1>
    <form id="form-inquiry" action="" method="post" class="decorated-fields vertical">
      <label for="full_name">
        <span class="prefix">full name</span>
        <input type="text" name="full_name" value="" />
        <span class="suffix"></span>
      </label>
      <label for="email">
        <span class="prefix">email</span>
        <input type="text" name="email" value="" />
        <span class="suffix"></span>
      </label>
      <label for="phone_number">
        <span class="prefix">phone number</span>
        <input type="text" name="phone_number" value="" />
        <span class="suffix"></span>
      </label>
      <label for="subject">
        <span class="prefix">subject</span>
        <input type="text" name="subject" value="" />
        <span class="suffix"></span>
      </label>
      <label for="comment">
        <span class="prefix">comment</span>
        <textarea name="comment" rows="5" cols="40"></textarea>
        <span class="suffix"></span>
      </label>
      <input class="awesome-button blue" type="submit" name="submit" value="&#10004; Send Information" />
    </form>
  </div>
</div>
<div id="bottom-transparent-area">
</div>

{% end %}

{% block tag_scripts %}
<script type="text/javascript">$SELECTOR_SCRIPT</script>
{% end %}
