{% extends "base.html" %}

{% block body_attributes %} class="projects"{% end %}

{% block nav_projects_class %}active{% end %}

{% block tag_trunk_content %}
<div id="trunk-header">
  <img src="{{ MEDIA_URL }}image/heading/building_since_1980.png" title="Building since 1980." width="350px" height="36px" />
  <h2>More than 3 decades of building thousands of happy home owners.</h2>
</div>
<div id="top-transparent-area">
</div>
<div class="article">
  <div class="sidebox">
    <div id="projects-list">
      <h2>Ongoing projects</h2>
      <ul>
        <li>&raquo; <a href="/savgan_heights">Savgan Heights</a></li>
        <li>&raquo; Krishna Kunj</li>
        <li>&raquo; Malhari Sadan</li>
        <li>&raquo; Orchid Park</li>
        <li>&raquo; Pushpa Kunj</li>
        <li>&raquo; Vimla Villa</li>
      </ul>
      <h2>Completed projects</h2>
      <ul>
        <li>&raquo; Sea Woods</li>
        <li>&raquo; Prakash Tower</li>
        <li>&raquo; Gokuldham</li>
        <li>&raquo; Anand Villa</li>
        <li>&raquo; Jeevan Sangam</li>
        <li>&raquo; First Tax</li>
        <li>&raquo; Shashi</li>
        <li>&raquo; Dadar Bazaar</li>
        <li>&raquo; Holar</li>
      </ul>
    </div>
  </div>
  <div class="content reversed">
    {% block tag_project_content %}
    
    {% end %}
  </div>
</div>
<div id="bottom-transparent-area">
</div>
{% end %}

{% block tag_scripts %}
<script type="text/javascript">$SELECTOR_SCRIPT</script>
{% end %}
