{% extends "projects.html" %}

{% block tag_project_content %}
  <h1>{{ project.title }}</h1>
  <strong>{{ project.subtitle }}</strong>
  <p>{{ project.location }}</p>
  <h2>Pictures and location map</h2>
  <ul class="photos">
    {% for photo in project.photos %}
      <li><a href="{{ photo.picture_url }}" title="{{ photo.caption }}"><img src="{{ photo.thumb_url }}" /><span>{{ photo.caption }}</span></a></li>
    {% end %}
  </ul>
  <h2>Floor plans</h2>
  <ul class="photos">
    {% for floor_plan in project.floor_plans %}
      <li><a href="{{ floor_plan.picture_url }}" title="{{ floor_plan.caption }}"><img src="{{ floor_plan.thumb_url }}"  /><span>{{ floor_plan.caption }}</span></a></li>
    {% end %}
  </ul>
  {{ project.description_html }}
{% end %}

{% block tag_scripts %}
<script type="text/javascript">$SELECTOR_SCRIPT</script>
{% end %}
